<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Ang by live-systems</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/animations.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- TODO: Move to end of body later -->
    <script src='./js/app.js'></script>
    <link rel="apple-touch-icon" sizes="57x57" href="./apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body ng-app>
    <section class="page-header">
      <header>
        <h1 class="project-name">Simple Angular js site</h1>
        <h2 class="project-tagline">Pure angular js site prototypes.</h2>
      </header>
      <a href="https://github.com/live-systems/ang" class="btn">View on GitHub</a>
      <a href="https://github.com/live-systems/ang/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/live-systems/ang/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class='app-area main-content'>
      <h3>Accordion of Angular Demos</h3>
      <v-accordion id="dynamic-accordion" multiple control="accordion">
        <v-pane id='pane1'>
          <v-pane-header ng-click="active=pane1">
            Calculator
          </v-pane-header>
          <v-pane-content>
            <div class='app-box parent'>
              <div class='app child'>
                <div class='calculator'>
                  <output name='o'>Sum: {{ x + y }}</output>
                  <div class='buttons'>
                  <input name='x' id='x' type=number step=any ng-model=x value=''>
                  <input name='y' id='y' type=number step=any ng-model=y value=''>
                </div>
              </div>
            </div>
          </v-pane-content>
        </v-pane>
        <v-pane id='pane2'>
          <v-pane-header>
            Naive Password Strength Checker
          </v-pane-header>
          <v-pane-content>
            <input name='pzwd' id='pzwd' ng-model=pzwd value=''> <button>Check Password Strength</button>
            <output name='pzwdstrength'>Weak</output>
          </v-pane-content>
        </v-pane>
        <v-pane id='pane3'>
          <v-pane-header>
            Another accordion header
          </v-pane-header>
          <v-pane-content>
            Another Accordion demo content area
          </v-pane-content>
        </v-pane>
      </v-accordion>
      <v-accordion id="dynamic-accordion2" multiple control="accordion2">

        <v-pane id="{{ pane.id }}" ng-repeat="pane in panes">
          <v-pane-header>
            {{ ::pane.header }}
          </v-pane-header>

          <v-pane-content>
            {{ ::pane.content }}
          </v-pane-content>
        </v-pane>

      </v-accordion>
      <button ng-click="accordion.toggle(0)">Toggle first pane</button>
      <button ng-click="accordion.expandAll()">Expand all</button>
      <button ng-click="accordion.collapseAll()">Collapse all</button>
    </section>

    <section class='demos main-content'>
      <h3>
        Demos
      </h3>
      <dl>
        <dt>Simple angular tests (the site you're viewing)</dt><dd><a href='https://github.com/live-systems/ang/tree/gh-pages'>(source)</a></dd>
        <dt>Angular.js, unit tested & functional tested, with python <a href='http://fractalish.local/'>(local dev)</a></dt><dd><a href='https://github.com/live-systems/fractalish'>(source)</a></dd>
        <dt>Basic Django with functional testing & unit testing with pytest <a href='http://127.0.0.1:8000/'>(local dev)</a></dt><dd><a href='https://github.com/live-systems/dj'>(source)</a></dd>
        <dt>Full fledged PHP site with unit, integration, functional, and js testing in Codeship CI <a href='http://www.ninjawars.net'>(ninjawars.net)</a></dt><dd><a href='https://github.com/BitLucid/ninjawars'>(source)</a></dd>
        <dt>REST API with EVE or Flask</dt><dd><a href='https://github.com/live-systems/ang/tree/gh-pages'><strike>(source)</strike></a></dd>
        <dt>A full stack of Continuous Integration using Travis CI instead of codeship</dt><dd><a href='https://github.com/live-systems/ang/tree/gh-pages'><strike>(source)</strike></a></dd>
      </dl>
    </section>

    <section class="main-content">
      <h4>
<a id="lets-talk" class="anchor" href="#lets-talk" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Let's talk <em class='subtitle'>about what you want from the web</em></h4>

<p>Complex signup processes turn away customers. Slow loading pages cause users to leave quickly. Security breaches can cost days of downtime and massive liability. It's easy to lose users &amp; sales, but it takes knowledge to keep them. You need an experienced full-stack developer that can address usability, performance, security, and business value all at the same time. The expertise I bring ensures that your site works for your users, instead of being an obstacle.</p>

<p>This is what I do:</p>

<ul>
<li>Coding in PHP, Python, Javascript</li>
<li>Quality Assurance and User Acceptance Testing</li>
<li>Layout Improvement and UX</li>
<li>Server Dev Ops</li>
<li>Continuous Integration and Stability Improvement</li>
</ul>

<p>In short, I code strong and stable dynamic websites from the server to database to front-end and beyond.</p>

<h3>
<a id="experience--expertise" class="anchor" href="#experience--expertise" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Experience &amp; Expertise <em class='subtitle'>in web development</em></h3>

<ul>
<li>Php development for the web since 2003.</li>
<li>Developed custom php e-commerce and inventory-management systems.</li>
<li>Worked on social network sites and online small-business niche sites for my clients.</li>
<li>Overhauled the website <a href='http://www.shermanbrothers.com'>shermanbrothers.com</a>, moved it to new servers, updated it to html5, and cleaned up the codebase.</li>
</ul>

<p>I have over a decade's experience in creating clear, flexible, &amp; fast systems coded in PHP and javascript. I work across the full stack, from server deployment to server-side app to front-end, to MAXIMIZE how well your site works. Not just by creating code, but by analyzing and resolving problems that might otherwise turn away users &amp; decrease conversions.</p>

<h3>
<a id="technologies" class="anchor" href="#technologies" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Technologies:</h3>

<ul>
<li>I work on open source projects and sites on github.</li>
<li>I design systems in php, mysql/postgresql, javascript, jquery, html5, and css3.</li>
<li>I use Test Driven Design via phpunit or behat, and templating engines like Twig and Smarty</li>
<li>I deploy debian based virtual servers with AWS or Rackspace.</li>
</ul>

<p>If you have a web problem that you need expertly solved: Let's chat.</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/live-systems/ang">Ang</a> is maintained by <a href="https://github.com/live-systems">live-systems</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
